In [1]:
s = "Hello World!"

In [3]:
s1 = s[-10:-5]
print(repr(s1))

'llo W'

In [4]:
s2 = s[-10:-1:2]
print(s2)

loWrd

In [6]:
s3 = s[-7:-3:-2]
print(repr(s3))

''

In [8]:
s4 = s[11:-6:-1]
print(repr(s4))

'!dlro'

In [10]:
s5 = s[9:3:-2]
print(repr(s5))

'lo '

# List

1. Ordered Data Type
2. Collection or Iteratble or Sequence
3. Mutable

In [11]:
naman = [ 'naman', 17, 'jaipur', '1234567890', 'python', 0 ]

# Hetrogenous List -> [str, int]

In [13]:
names = [ 'gaurav', 'deepratan', 'naman', 'ankur', 'arshika']
#            0          1            2       3          4

marks = [ 80, 90, 85, 90, 88 ] # homogenous List

#         0   1    2   3  4

### Indexing & Slicing

In [15]:
i = 2

s = "Student " + names[i] + " has got " + str(marks[i]) + " marks in Python."
print(s)

print("Student", names[i], "has got", marks[i], "marks in Python.")

Student naman has got 85 marks in Python.
Student naman has got 85 marks in Python.

`f-string`

In [16]:
names = [ 'gaurav', 'deepratan', 'naman', 'ankur', 'arshika']
#            0          1            2       3          4

marks = [ 80, 90, 85, 90, 88 ] # homogenous List

#         0   1    2   3  4 
i = 2

s = f"Student {names[i]}  has got  {marks[i]}  marks in Python."
print(s)

Student naman  has got  85  marks in Python.

In [17]:
a = 22
b = 7

s = f"{a} / {b} = {a/b}" # String Formatting

print(s)

22 / 7 = 3.142857142857143

### Indexing

In [18]:
import random

In [19]:
nums = [ random.randint(1, 50) for _ in range(10) ]

In [20]:
print(nums)

[10, 1, 15, 44, 29, 10, 7, 22, 5, 18]

In [21]:
print(nums[-3])

22

In [22]:
print(nums[6])

7

In [23]:
print(nums[-7])

44

In [24]:
print(nums[:5])

[10, 1, 15, 44, 29]

In [25]:
print(nums[:-5])

[10, 1, 15, 44, 29]

In [26]:
print(nums[::-2])

[18, 22, 10, 44, 1]

In [27]:
print(nums[2:7:2])

[15, 29, 7]

In [28]:
print(nums[5:])

[10, 7, 22, 5, 18]

In [29]:
print(nums[-3:-9:-3])

[22, 29]

In [30]:
print(nums[9:3:-2])

[18, 22, 10]

In [31]:
print(nums[::-1])

[18, 5, 22, 7, 10, 29, 44, 15, 1, 10]

In [32]:
print(nums[:-6:-1])

[18, 5, 22, 7, 10]

In [33]:
print(nums[1::2])

[1, 44, 10, 22, 18]

### Methods of List

`Append` - add at the end of list


    list.apend(item) -> will add that item into list at last position

In [34]:
names = [ 'gaurav', 'deepratan']

In [36]:
print(names, type(names), id(names))

['gaurav', 'deepratan'] <class 'list'> 2179278522368

In [37]:
names.append("naman")

In [39]:
print(names, id(names))

['gaurav', 'deepratan', 'naman'] 2179278522368

In [40]:
names.append('ankur')

In [41]:
print(names)

['gaurav', 'deepratan', 'naman', 'ankur']

In [42]:
print(id(names))

2179278522368

In [43]:
names

['gaurav', 'deepratan', 'naman', 'ankur']

In [44]:
l1 = [ 10, 50, 60, 20]
print(l1)
l1.append(100)
print(l1)

[10, 50, 60, 20]
[10, 50, 60, 20, 100]

### Insert 

    list.insert(loc, item) -> will add item at loc index, by shifting each element 1 to it's right

In [45]:
names

['gaurav', 'deepratan', 'naman', 'ankur']

In [46]:
names.insert(0, 'arshika')

In [47]:
print(names)

['arshika', 'gaurav', 'deepratan', 'naman', 'ankur']

In [48]:
names.insert(3, 'sachin')

In [49]:
print(names)

['arshika', 'gaurav', 'deepratan', 'sachin', 'naman', 'ankur']

### Extend

    list.extend( iterables ) -> will add each element from iterable at the end of list sequentially

In [50]:
other = [ 'rajat', 'nidhi', 'kushal', 'simran', 'ravi']

In [51]:
print(names)

['arshika', 'gaurav', 'deepratan', 'sachin', 'naman', 'ankur']

In [52]:
names.extend(other)

In [53]:
print(names)

['arshika', 'gaurav', 'deepratan', 'sachin', 'naman', 'ankur', 'rajat', 'nidhi', 'kushal', 'simran', 'ravi']

### Deletion from List

In [54]:
l = [ 'sachin']

In [55]:
l.extend('naman')

In [56]:
print(l)

['sachin', 'n', 'a', 'm', 'a', 'n']

In [61]:
l = [ 'one', 'two']

In [62]:
print(l)

['one', 'two']

In [63]:
l.append(['three', 'four'])

In [64]:
print(l)

['one', 'two', ['three', 'four']]

# pop


    list.pop() -> will delete last element from list and returns it (opposite of append)
    
    
    list.pop(loc) -> will delete item from index loc and returns it (opposite of insert)

In [66]:
print(names)

['arshika', 'gaurav', 'deepratan', 'sachin', 'naman', 'ankur', 'rajat', 'nidhi', 'kushal', 'simran', 'ravi']

In [67]:
item = names.pop()
print(f"{item} has been removed from list")
print(names)

ravi has been removed from list
['arshika', 'gaurav', 'deepratan', 'sachin', 'naman', 'ankur', 'rajat', 'nidhi', 'kushal', 'simran']

In [68]:
item = names.pop()
print(f"{item} has been removed from list")
print(names)

simran has been removed from list
['arshika', 'gaurav', 'deepratan', 'sachin', 'naman', 'ankur', 'rajat', 'nidhi', 'kushal']

In [69]:
print(item)

simran

In [71]:
print(names)

['arshika', 'gaurav', 'deepratan', 'sachin', 'naman', 'ankur', 'rajat', 'nidhi', 'kushal']

In [72]:
item = names.pop(-3)
print(item)
print(names)

rajat
['arshika', 'gaurav', 'deepratan', 'sachin', 'naman', 'ankur', 'nidhi', 'kushal']

In [73]:
item = names.pop(4)
print(item)

naman

In [74]:
print(names)

['arshika', 'gaurav', 'deepratan', 'sachin', 'ankur', 'nidhi', 'kushal']

In [75]:
item = names.pop(0)
print(item)

arshika

In [76]:
print(names)

['gaurav', 'deepratan', 'sachin', 'ankur', 'nidhi', 'kushal']