### Random Guess

In [3]:
import random
com_guess = random.randint(1, 50)
chances = 5
while chances:
    print(f"Chance Number: {chances}")
    user_guess = int(input("Your Guess (1-50): "))
    if user_guess < 1 or user_guess > 50:
        print("Warning!! Your guess is Out of Range Guess Between 1-50")
        continue
    
    if user_guess == com_guess:
        print("Yeah!! You such a Master You have won the Game")
        break
    elif user_guess > com_guess:
        print("Hint: Be in Limits Think a Lower Number")
    else:
        print("Hint: Be Big Think Big")
    
    chances -= 1
else:
    print("You Such A Looser!")
    
print(f"Computer Guess Was: {com_guess}")

Chance Number: 5
Your Guess (1-50): 1000
Warning!! Your guess is Out of Range Guess Between 1-50
Chance Number: 5
Your Guess (1-50): -10
Warning!! Your guess is Out of Range Guess Between 1-50
Chance Number: 5
Your Guess (1-50): 25
Hint: Be Big Think Big
Chance Number: 4
Your Guess (1-50): 35
Hint: Be Big Think Big
Chance Number: 3
Your Guess (1-50): 45
Hint: Be in Limits Think a Lower Number
Chance Number: 2
Your Guess (1-50): 40
Hint: Be Big Think Big
Chance Number: 1
Your Guess (1-50): 43
Yeah!! You such a Master You have won the Game
Computer Guess Was: 43

### For Loop

    We use for loop for traversing / iterating an iterable object

#### Syntax

    for item in iterable:
        st-1
        st-2
        ...
        st-n

In [5]:
s = "Hello World!"
i = 0
while i < len(s):
    print(s[i])
    i += 1

H
e
l
l
o

W
o
r
l
d
!

In [6]:
s = "Hello World!"

for char in s:
    print(char)

H
e
l
l
o

W
o
r
l
d
!

In [7]:
for name in [ 'gaurav', 'deepratan', 'naman', 'ankur', 'arshika']:
    print(name)

gaurav
deepratan
naman
ankur
arshika

In [8]:
for item in {'name':'sachin', 'age': 25, 'country': 'india', 'language': 'hindi'}:
    print(item)

name
age
country
language

In [9]:
info = {'name':'sachin', 'age': 25, 'country': 'india', 'language': 'hindi'}
for key in info.keys():
    print(f"{key}  =  {info[key]}")

name  =  sachin
age  =  25
country  =  india
language  =  hindi

In [10]:
for item in info.items():
    print(item)

('name', 'sachin')
('age', 25)
('country', 'india')
('language', 'hindi')

In [11]:
for item in info.items():
    print(item[0], '=', item[1])

name = sachin
age = 25
country = india
language = hindi

### Tuple Unpacking

In [12]:
x, y = ('ram', 'shyam')[::-1]
print(x)
print(y)

shyam
ram

In [14]:
info = {'name':'sachin', 'age': 25, 'country': 'india', 'language': 'hindi'}
for key, value in info.items():
    print(f"{key}  =  {value}")

name  =  sachin
age  =  25
country  =  india
language  =  hindi

In [15]:
data = [
    [ 'gaurav', 'india', 'hindi'],
    [ 'deepratan', 'us', 'english'],
    [ 'arshika', 'pakisthan', 'urdu']
]

s = """
         Name     =   {}
         Country  =   {}
         Language =   {}
         
"""

In [26]:
s = """
         Name     =   {}
         Country  =   {}
         Language =   {}
         
"""

In [24]:
print(s)

         Name     =   {}
         Country  =   {}
         Language =   {}

In [25]:
print(s.format('Sachin', 'India', 'Hindi'))

         Name     =   Sachin
         Country  =   India
         Language =   Hindi

In [29]:
data = [
    [ 'gaurav', 'india', 'hindi'],
    [ 'deepratan', 'us', 'english'],
    [ 'arshika', 'pakisthan', 'urdu']
]

temp = """
         Name     =   {}
         Country  =   {}
         Language =   {}
         
"""

for name, country, language in data:
    print("__"*40)
    print()
    print(temp.format(name, country, language))
    print()
else:
    print("__"*40)

________________________________________________________________________________


         Name     =   gaurav
         Country  =   india
         Language =   hindi



________________________________________________________________________________


         Name     =   deepratan
         Country  =   us
         Language =   english



________________________________________________________________________________


         Name     =   arshika
         Country  =   pakisthan
         Language =   urdu



________________________________________________________________________________

In [30]:
sales = [ 
    ('apple', 80000),
    ('samsung', 60000),
    ('oneplus', 50000)
]

In [37]:
for name, price in sales:
    print("__"*20)
    print(f"|{name.center(20)} | {price}\t\t|")
else:
    print("__"*20)

________________________________________
|       apple         | 80000		|
________________________________________
|      samsung        | 60000		|
________________________________________
|      oneplus        | 50000		|
________________________________________

In [38]:
sales = [ 
    ('apple', 80000),
    ('samsung', 60000),
    ('oneplus', 50000),
    ('micromax', 10000, 20000)
]
for name, price in sales:
    print("__"*20)
    print(f"|{name.center(20)} | {price}\t\t|")
else:
    print("__"*20)

________________________________________
|       apple         | 80000		|
________________________________________
|      samsung        | 60000		|
________________________________________
|      oneplus        | 50000		|

ValueError: too many values to unpack (expected 2)

In [41]:
sales = [ 
    ('apple', 80000),
    ('samsung', 60000),
    ('oneplus', 50000),
    ('micromax', 10000, 20000),
    ('gaurav', )
]
for item in sales:
    print("__"*20)
    print(f"|{item[0].center(20)} | {item[1]}\t\t|")
else:
    print("__"*20)

________________________________________
|       apple         | 80000		|
________________________________________
|      samsung        | 60000		|
________________________________________
|      oneplus        | 50000		|
________________________________________
|      micromax       | 10000		|
________________________________________

IndexError: tuple index out of range

In [42]:
data = [
    {'name': 'sachin', 'country': 'india', 'language': 'hindi'},
    {'name': 'gaurav', 'country': 'afganisthan', 'language': 'arbi'},
    {'name': 'deepratan', 'country': 'shri lanka', 'language': 'tamil'}
]

In [43]:
for item in data:
    print(type(item))

<class 'dict'>
<class 'dict'>
<class 'dict'>

In [44]:
l = [ 1, 6.14, 'hello', [1, 2,3 ], ('hi', 'bye'), {'one': 'two', 'three': 'four'}]

for item in l:
    print(type(item), item)

<class 'int'> 1
<class 'float'> 6.14
<class 'str'> hello
<class 'list'> [1, 2, 3]
<class 'tuple'> ('hi', 'bye')
<class 'dict'> {'one': 'two', 'three': 'four'}

In [45]:
data = [
    {'name': 'sachin', 'country': 'india', 'language': 'hindi'},
    {'name': 'gaurav', 'country': 'afganisthan', 'language': 'arbi'},
    {'name': 'deepratan', 'country': 'shri lanka', 'language': 'tamil'}
]

for info in data:
    print("__"*40)
    for key, value in info.items():
        print(f"{key.rjust(20)} = {value}")
    print("__"*40)

________________________________________________________________________________
                name = sachin
             country = india
            language = hindi
________________________________________________________________________________
________________________________________________________________________________
                name = gaurav
             country = afganisthan
            language = arbi
________________________________________________________________________________
________________________________________________________________________________
                name = deepratan
             country = shri lanka
            language = tamil
________________________________________________________________________________

In [47]:
data = [
    {'name': 'sachin', 'country': 'india', 'language': 'hindi'},
    {'name': 'gaurav', 'country': 'afganisthan', 'language': 'arbi'},
    {'name': 'deepratan', 'country': 'shri lanka', 'language': 'tamil'}
]

search = input("Enter name: ").strip().lower()

for info in data:
    
    if info['name'] == search:
        print("__"*40)
        for key, value in info.items():
            print(f"{key.rjust(20)} = {value}")
        print("__"*40)
        break
else:
    print("Not Found")

Enter name: gaurav
________________________________________________________________________________
                name = gaurav
             country = afganisthan
            language = arbi
________________________________________________________________________________

In [52]:
s = { 1, 23, 12,2, 3,2, 3,2, 32,323, 23, 23, 23, 23}

In [53]:
print(s)

{32, 1, 2, 3, 323, 12, 23}

In [54]:
for item in s:
    print(item)

32
1
2
3
323
12
23

In [55]:
data = [ 'gaurav', 'deepratan', 'arhsika', 'naman', 'ankur']

key = input('name: ').strip().lower()
for name in data:
    if name == key:
        print("Found!")
        break
else:
    print("Not Found!")

name: sachin
Not Found!

In [57]:
r = range(5)
print(r)

range(0, 5)

In [58]:
print(*r)

0 1 2 3 4

In [59]:
print(list(r))

[0, 1, 2, 3, 4]

In [60]:
print(*range(11), sep='\n')

0
1
2
3
4
5
6
7
8
9
10

In [61]:
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
print(list(range(21, 30)))

[21, 22, 23, 24, 25, 26, 27, 28, 29]

In [63]:
print(range(1, 11, 3))

range(1, 11, 3)

In [64]:
print(list(range(1, 11, 3)))

[1, 4, 7, 10]

In [67]:
num = int(input("number: "))

print(*range(num, num*10+1, num), sep='\n')

number: 13
13
26
39
52
65
78
91
104
117
130

In [68]:
print(*range(10, 0, -1))

10 9 8 7 6 5 4 3 2 1

In [69]:
print(*range(100, 0, -1))

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [70]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [71]:
"Hello" * 2

'HelloHello'

In [72]:
for row in range(1, 11):
    print("*"*row)

*
**
***
****
*****
******
*******
********
*********
**********

In [73]:
for i in range(1, 100):
    if i % 5 == 0:
        break
    print(i)
else:
    print("how is the josh!")

1
2
3
4

In [75]:
for i in range(1, 100):
    if i % 3 == 0:
        continue
    if i % 10 == 0:
        break
    print(i)
else:
    print("how is the josh!")

1
2
4
5
7
8