### Type Casting

In [2]:
s = "54"
print(type(s), repr(s))

<class 'str'> '54'

Numbers

    int
    
    float
    
    complex
    
    bin
    
    hex
    
    oct
    
String

    str
    
    ord
    
    chr
    
Other

    list
    
    tuple
    
    dict
    
    set
    
    frozenset

In [4]:
int(6.02)

6

In [5]:
int(6.9)

6

In [6]:
int(6.5)

6

In [7]:
round(6.02)

6

In [8]:
round(6.4)

6

In [9]:
round(6.5)

6

In [10]:
round(6.6)

7

In [11]:
round(7)

7

In [12]:
round(6.0001231302131, 4)

6.0001

In [13]:
ans = 22 / 7

In [14]:
print(ans)

3.142857142857143

In [15]:
v = round(ans, 2)
print(v)

3.14

In [16]:
a = "56"
b = int(a)
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

In [17]:
s = "220"
i = int(s)
print(i)

220

In [21]:
s = "11001"
i = int(s, base=10)
print(i)

11001

`Binary to Decimal Conversion`

    0b -> binary

In [22]:
s = "11001"
i = int(s, base=2)
print(i)

25

In [24]:
s = "0b11001"
i = int(s, base=2)
print(i)

25

### Octal to Decimal 

    0o -> octal

In [26]:
s = "0o123"

i = int(s, base=8)
print(i)

83

### HexaDecimal to Decimal

    0x -> hexa decimal

In [28]:
s = "0x23FE"

i = int(s, base=16)
print(i)

9214

In [29]:
s = "naman"
i = int(s)
print(i)

ValueError: invalid literal for int() with base 10: 'naman'

In [31]:
i = int(6.02)
print(i)

6

In [32]:
i = int("6.02")
print(i)

ValueError: invalid literal for int() with base 10: '6.02'

In [33]:
s = "     4507    "

i = int(s)
print(i)

4507

In [34]:
a = int(input())
b = int(input())
print(a/b)

45
78
0.5769230769230769

In [35]:
float(6)

6.0

In [36]:
float("6.78")

6.78

In [38]:
a = float(input())
print(a, type(a))

3.14567
3.14567 <class 'float'>

In [40]:
a = int(float(input()))

print(a, type(a))

6.02
6 <class 'int'>

In [41]:
s = "ankur"

i = float(s)

print(i)

ValueError: could not convert string to float: 'ankur'

In [42]:
s = "6.0345"

f = float(s)

print(f, type(f))

6.0345 <class 'float'>

In [44]:
a = complex(56)
print(a)

(56+0j)

In [46]:
a = complex(6.02)
print(a)

(6.02+0j)

In [47]:
a = complex("56")
print(a)

(56+0j)

In [48]:
a = complex("56.04")
print(a)

(56.04+0j)

In [49]:
a = complex("100+56.94j")
print(a)

(100+56.94j)

### Decimal to Binary

In [50]:
a = 25

b = bin(a)

print(repr(b))

'0b11001'

### Decimal to Octal

In [51]:
a = 25
b = oct(a)

print(repr(b))

'0o31'

#### Decimal to Hexa Decimal

In [53]:
a = 15
b = hex(a)

print(repr(b))

'0xf'

### String

    king of all types

In [54]:
data = [ 56, 6.02, 6+10j, ['hi', 45], {'name': 'sachin'} ]

In [58]:
for item in data:
    print(item, type(item))
    s = str(item)
    print(repr(s), type(s))
    print("\n", "--"*30, "\n")

56 <class 'int'>
'56' <class 'str'>

 ------------------------------------------------------------

6.02 <class 'float'>
'6.02' <class 'str'>

 ------------------------------------------------------------

(6+10j) <class 'complex'>
'(6+10j)' <class 'str'>

 ------------------------------------------------------------

['hi', 45] <class 'list'>
"['hi', 45]" <class 'str'>

 ------------------------------------------------------------

{'name': 'sachin'} <class 'dict'>
"{'name': 'sachin'}" <class 'str'>

 ------------------------------------------------------------

#### ord

    returns a integer value for a character

In [61]:
a = "t"
print(ord(a))

116

### chr

    returns a character value of a integer value

In [62]:
a = 116
print(chr(a))

t

In [77]:
#[ chr(c) for c in range(2000, 11000) ]
ord('द')

2342

In [82]:
c = chr(2320) + chr(2330) + chr(2345)
print(c)

ऐचऩ

### list

    any iterable object can be converted into list

In [83]:
n = list(455667)
print(n)

TypeError: 'int' object is not iterable

In [84]:
s = "Hello World!"

In [85]:
ls = list(s)
print(ls)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [86]:
t = (1, 2, 3, 4, 5)

lst = list(t)

print(lst)

[1, 2, 3, 4, 5]

In [87]:
d = { 'name': 'naman', 'age': 17, 'type': 'badmaash', 'address': 'jaipur'}

In [88]:
print(d)

{'name': 'naman', 'age': 17, 'type': 'badmaash', 'address': 'jaipur'}

In [91]:
ls = list(d)
print(ls)

['name', 'age', 'type', 'address']

In [92]:
ls = list(d.keys())
print(ls)

['name', 'age', 'type', 'address']

In [93]:
ls = list(d.values())
print(ls)

['naman', 17, 'badmaash', 'jaipur']

In [94]:
ls = list(d.items())
print(ls)

[('name', 'naman'), ('age', 17), ('type', 'badmaash'), ('address', 'jaipur')]

In [95]:
s = { 1, 2, 4, 5, 6, 7, 8, 2, 3, 5}

ls = list(s)

In [96]:
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8]

### list, set, tuple behave in same manner

In [97]:
s = "hello world how are you ?"

print(list(s))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', ' ', '?']

In [98]:
print(tuple(s))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', ' ', '?')

In [99]:
print(set(s))

{'u', 'e', 'o', ' ', 'r', 'a', 'l', 'w', 'y', '?', 'd', 'h'}

In [102]:
lst = [ 1, 12, 23, 1,2 ,32,32,  3, 23, 23, 23,23, 23,23, 12, 123]

In [103]:
print(lst)

[1, 12, 23, 1, 2, 32, 32, 3, 23, 23, 23, 23, 23, 23, 12, 123]

In [104]:
s = set(lst)
print(s)

{32, 1, 2, 3, 12, 23, 123}

In [105]:
ls = list(s)
print(ls)

[32, 1, 2, 3, 12, 23, 123]

### Dictionary

    an iterable which contains key-value pairs can be converted into dictionary

In [107]:
data = [ 
    ['name', 'python'],
    ('website', 'www.python.org'),
    'ab',
    {'hello': 'hi', 'world': 'bye'}
        
       ]

In [108]:
d = dict(data)
print(d)

{'name': 'python', 'website': 'www.python.org', 'a': 'b', 'hello': 'world'}

# Operatros

    Type of Operators 
    
    
        Unary Operators 
        
                one operand one operator
                
                    ~5
                    
                    not True
       
        Binary Operators 
        
                two operands one operator 
                
                    4 + 5
                    
                    True or False
                    
        Tenary Operators 
        
                condition ? expression1 : expression2
                
                4 > 5 ? yes : no
                
                print('yes') if 4 > 5 else print('no')

In [110]:
money = int(input("money: "))

print("Movie") if money >= 1000 else print("Samosa")

money: 1200
Movie

### Types of Operators in Python

    1. Arithmatic Operators    -->          +, -, *, /, %, //, **
    
    2. Comparision Operators   -->          >, <, <=, >=, ==, !=
    
    3. Logical Operators       -->          and, or, not
    
    4. Bitwise Operators       -->          ~, ^, &, |, <<, >>
    
    5. Membership Operators    -->          in, not in
    
    6. Identity Operators      -->          is, is not
    
    7. Assignment Operators    -->          =, +=, -=, *=, /=, %=, //=, **=