In [1]:
for char in 'String':
    print(char)

S
t
r
i
n
g

#### Iteration

In [5]:
for item in [ 'gaurav', 'naman', 'ankur']:
    if item == 'ankur':
        break
    print(item)

gaurav
naman

In [3]:
d = { 'name': 'naman', 'country': 'india', 'city': 'jaipur'}
for key in d:
    print(key)

name
country
city

In [4]:
for i in 12345:
    print(i)

TypeError: 'int' object is not iterable

In [7]:
d = { 'name': 'naman', 'country': 'india', 'city': 'jaipur'}
for key in d:
    print(key,'=', d[key])

name = naman
country = india
city = jaipur

In [8]:
d = { 'name': 'naman', 'country': 'india', 'city': 'jaipur'}

for item in d.items():
    print(item)

('name', 'naman')
('country', 'india')
('city', 'jaipur')

In [9]:
x, y = 6, 8
print(x)
print(y)

6
8

In [10]:
d = { 'name': 'naman', 'country': 'india', 'city': 'jaipur'}

for key, value in d.items():
    print(key, '=', value)

name = naman
country = india
city = jaipur

In [11]:
data = [
    ('sachin', 'data scientist'),
    ('gaurav', 'business analyst'),
    ('deepratan', 'developer'),
    ('naman', 'the hacker'),
    ('ankur', 'data analyst'),
    ('arshika', 'machine learning engineer')
]

In [12]:
for item in data:
    print(item)

('sachin', 'data scientist')
('gaurav', 'business analyst')
('deepratan', 'developer')
('naman', 'the hacker')
('ankur', 'data analyst')
('arshika', 'machine learning engineer')

In [13]:
data = [
    ('sachin', 'data scientist'),
    ('gaurav', 'business analyst'),
    ('deepratan', 'developer'),
    ('naman', 'the hacker'),
    ('ankur', 'data analyst'),
    ('arshika', 'machine learning engineer')
]

for name, profile in data:
    print(f"{name} is {profile}.")

sachin is data scientist.
gaurav is business analyst.
deepratan is developer.
naman is the hacker.
ankur is data analyst.
arshika is machine learning engineer.

    polynomial -> a*x**2 + bx + c

In [1]:
params = [
    (10, 20, 0), 
    (5, 3, 4),
    (1, 2, 3), 
    (6, 2, 4)
]

In [2]:
x = int(input("X: "))

for a, b, c in params:
    ans = a*x**2 + b*x + c
    print(f"{a:^5} + {b:^5} + {c:^5} = {ans:^10} ")

X: 5
 10   +  20   +   0   =    350
  5   +   3   +   4   =    144
  1   +   2   +   3   =     38
  6   +   2   +   4   =    164

In [4]:
data = [
    {'name': 'sachin', 'country': 'India', 'language': 'hindi'},
    {'name': 'naman', 'country': 'Afganisthan', 'language': 'pasto'},
    {'name': 'gaurav', 'country': 'USA', 'language': 'english'}
    
]

In [5]:
for item in data:
    print(item)

{'name': 'sachin', 'country': 'India', 'language': 'hindi'}
{'name': 'naman', 'country': 'Afganisthan', 'language': 'pasto'}
{'name': 'gaurav', 'country': 'USA', 'language': 'english'}

    _________________________________________
    |   name    |    country    |   language |
    _________________________________________
    |   sachin   |   India      |   Hindi    |
    __________________________________________

______________________________________________________________________________________________
|             name             |           country            |           langauge           |
______________________________________________________________________________________________

In [13]:
name, country, language = list({'name': 'sachin', 'country': 'India', 'language': 'hindi'}.values())

In [14]:
data = [
    {'name': 'sachin', 'country': 'India', 'language': 'hindi'},
    {'name': 'naman', 'country': 'Afganisthan', 'language': 'pasto'},
    {'name': 'gaurav', 'country': 'USA', 'language': 'english'}
    
]

In [17]:
print("_"*94)
print(f"|{'name':^30}|{'country':^30}|{'langauge':^30}|")
print("_"*94)
for item in data:
    name, country, language = item.values()
    print(f"|{name:^30}|{country:^30}|{language:^30}|")
    print("_"*94)

______________________________________________________________________________________________
|             name             |           country            |           langauge           |
______________________________________________________________________________________________
|            sachin            |            India             |            hindi             |
______________________________________________________________________________________________
|            naman             |         Afganisthan          |            pasto             |
______________________________________________________________________________________________
|            gaurav            |             USA              |           english            |
______________________________________________________________________________________________

In [19]:
print(*range(5))

0 1 2 3 4

In [20]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [22]:
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
print(list(range(51, 60)))

[51, 52, 53, 54, 55, 56, 57, 58, 59]

In [24]:
print(list(range(1, 20, 5)))

[1, 6, 11, 16]

In [25]:
print(list(range(10, 1)))

[]

In [26]:
print(list(range(-10, -1)))

[-10, -9, -8, -7, -6, -5, -4, -3, -2]

In [28]:
print(list(range(-1, -10, -1)))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

In [29]:
print(list(range(10, 1, -2)))

[10, 8, 6, 4, 2]

In [30]:
for var in range(1, 11):
    print(f"Hello {var}!")

Hello 1!
Hello 2!
Hello 3!
Hello 4!
Hello 5!
Hello 6!
Hello 7!
Hello 8!
Hello 9!
Hello 10!

In [31]:
print("Hello")

Hello

In [33]:
print(*"Hello", sep='\n')

H
e
l
l
o

In [36]:
lst = [ 1, 2, 3, 4]
print(lst)

print(*lst, sep='\n')

[1, 2, 3, 4]
1
2
3
4

In [38]:
num = int(input("number: "))
print(*range(num, num*10+1, num), sep='\n')

number: 5
5
10
15
20
25
30
35
40
45
50

In [41]:
data = [ 'gaurav', 'deepratan', 'naman', 'ankur', 'arshika']
#   i       0,       1,           2,      3,         4

for i in range(len(data)):
    print(f"{i+1}. {data[i]}")

1. gaurav
2. deepratan
3. naman
4. ankur
5. arshika

In [40]:
for item in data:
    print(item)

gaurav
deepratan
naman
ankur
arshika

In [42]:
s = "Hello"

e = enumerate(s)

print(e)

<enumerate object at 0x000001E5252256C0>

In [43]:
next(e)

(0, 'H')

In [44]:
next(e)

(1, 'e')

In [45]:
next(e)

(2, 'l')

In [46]:
next(e)

(3, 'l')

In [47]:
next(e)

(4, 'o')

In [48]:
next(e)

StopIteration:

In [49]:
e = enumerate("Hello")

In [50]:
print(e)

<enumerate object at 0x000001E5251CA2C0>

In [51]:
print(list(e))

[(0, 'H'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

In [52]:
for i, value in enumerate('Hello'):
    print(f"{i}. {value}")

0. H
1. e
2. l
3. l
4. o

In [53]:
data

['gaurav', 'deepratan', 'naman', 'ankur', 'arshika']

In [55]:
for i, n in enumerate(data):
    print(f"{i}. {n}")

0. gaurav
1. deepratan
2. naman
3. ankur
4. arshika

In [56]:
for item in enumerate(data):
    print(f"{item}")

(0, 'gaurav')
(1, 'deepratan')
(2, 'naman')
(3, 'ankur')
(4, 'arshika')

In [61]:
d = { 'name': 'sachin', 'age': 25, 'country': 'india',}

In [62]:
for i, v in enumerate(d):
    print(i, v)

0 name
1 age
2 country

In [63]:
for i, v in enumerate(d.values()):
    print(i, v)

0 sachin
1 25
2 india

In [70]:
for i, (k,v) in enumerate(d.items()):
    print(f"{i+1}. {k:<10} = {v}")

1. name       = sachin
2. age        = 25
3. country    = india

In [71]:
for i, j in enumerate(range(1, 11)):
    print(i, j)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [73]:
num = int(input("Enter number: "))

for i, v in enumerate(range(num, num*10+1, num)):
    print(f"{num:^3} x {i+1:^3} = {v}")

Enter number: 7
 7  x  1  = 7
 7  x  2  = 14
 7  x  3  = 21
 7  x  4  = 28
 7  x  5  = 35
 7  x  6  = 42
 7  x  7  = 49
 7  x  8  = 56
 7  x  9  = 63
 7  x 10  = 70

### zip

    to combine 2 or more iterables together

In [77]:
s1 = "hlowrd"
s2 = "el ol!"

for i1, i2 in zip(s1, s2):
    print(i1, i2, sep='', end='')

hello world!

In [60]:
z = list(zip(s1, s2))

In [74]:
print(z)

[('h', 'e'), ('l', 'l'), ('o', ' '), ('w', 'o'), ('r', 'l'), ('d', '!')]

In [79]:
names = [ 'apple', 'samsung', 'oneplus']
price = [ 80000, 70000, 60000]

In [82]:
print("_"*43)
print(f"|{'Name':^20}|{'Price':^20}|")
print("_"*43)

for i in range(len(names)):
    print(f"|{names[i]:^20}|{price[i]:^20}|")
    print("_"*43)

___________________________________________
|        Name        |       Price        |
___________________________________________
|       apple        |       80000        |
___________________________________________
|      samsung       |       70000        |
___________________________________________
|      oneplus       |       60000        |
___________________________________________

In [83]:
names = [ 'apple', 'samsung', 'oneplus']
price = [ 80000, 70000, 60000]

print("_"*43)
print(f"|{'Name':^20}|{'Price':^20}|")
print("_"*43)

for n, p in zip(names, price):
    print(f"|{n:^20}|{p:^20}|")
    print("_"*43)

___________________________________________
|        Name        |       Price        |
___________________________________________
|       apple        |       80000        |
___________________________________________
|      samsung       |       70000        |
___________________________________________
|      oneplus       |       60000        |
___________________________________________

In [84]:
print(*zip(['naman', 'ankur'], ['funny', 'intelligent']), sep='\n')

('naman', 'funny')
('ankur', 'intelligent')

In [85]:
hindi = [ 'ek', 'dou', 'teen', 'chaar', 'paanch']
numeric = [ 1, 2, 3, 4, 5]
english = [ 'one', 'two', 'three', 'four', 'five']

In [87]:
for n, h, e in zip(numeric, hindi, english):
    print(f"{n:^2} -> {h:^20} -> {e}")

1  ->          ek          -> one
2  ->         dou          -> two
3  ->         teen         -> three
4  ->        chaar         -> four
5  ->        paanch        -> five

In [88]:
l1 = [ 'apple', 'mango', 'papaya', 'banana']
l2 = [ 'kashmir', 'up', 'rajasthan']

In [90]:
for item1, item2 in zip(l1, l2):
    print(f"{item1} is purchased from {item2}")

apple is purchased from kashmir
mango is purchased from up
papaya is purchased from rajasthan